* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../bilder/Background1.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-color: darkslategray;
}

header {
  background-color: rgb(54, 51, 51, 0.3);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer {
  background-color: grey;
  height: 120vh;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
/* tabell */
table {
  width: 80%;
  text-align: center;
  color: white;
}

.Ägare {
  background-color: darkslategrey;
}

.Delägare {
  background-color: lightslategray;
}

.Logo {
  border-radius: 50%;
  float: left;
  width: 5%;
}
/* rubrik */
h1 {
  text-align: center;
  color: white;
  font-size: 400%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 {
  color: white;
  font-size: 200%;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2%;
}
h3 {
  color: white;
  font-size: 120%;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 4%;
}
/* lista */
ul {
  color: white;
  font-size: 80%;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2%;
  margin-left: 6%;
}
p {
  color: white;
  width: 40%;
  font-size: 100%;
  text-align: center;
  margin-top: 5%;
  height: 5%;
}
/* topnav */
.topnav {
  overflow: hidden;
  position: sticky;
  top: 0;
}

.topnav a {
  float: right;
  padding: 14px 16px;
  font-size: 100%;
  background-color: white;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ffd4bf;
  color: black;
}

.topnav a.active {
  background-color: orangered;
  color: white;
}

/* produktnav */
.produktnav {
  overflow: hidden;
  text-align: center;
  margin-top: 20%;
}

.produktnav a {
  display: block;
  padding: 2%;
  font-size: 100%;
  background-color: white;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  margin: 7%;
}

.produktnav a:hover {
  background-color: #ffd4bf;
  color: black;
}

input {
  float: right;
  width: 30%;
  text-align: left;
  margin-right: 40%;
}

.grill {
  width: 35%;
  float: right;
  margin-right: 5%;
  margin-top: 5%;
}

.Slogan {
  color: white;

  width: 50%;
  margin-top: 20%;
  margin-bottom: 15%;
  font-size: 250%;

  text-align: center;
}

#OmOss {
  background-color: rgb(54, 51, 51, 0.4);
  height: 21vh;
  width: 60vh;
  text-align: center;
  font-size: 3vh;
}

#utekök {
  width: 20%;
}

#GrillBild2 {
  width: 20%;
}

.Produkter {
  color: white;
  width: 40%;
  font-size: 200%;
  text-align: center;
  margin-top: 25%;
}
