* {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(54, 51, 51, 0.3);
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}
body {
  background-image: url(Background1.jpg);
  background-repeat: no-repeat;
  background-size: 100vw;
}

.Logo {
  border-radius: 50%;
  float: left;
  width: 5%;
}

h1 {
  text-align: center;
  color: white;
  font-size: 400%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  padding: 1%;
  font-size: 100%;
  background-color: white;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
}

footer {
  background-color: grey;
  height: 60vh;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.topnav a:hover {
  background-color: #ffd4bf;
  color: black;
}

.topnav a.active {
  background-color: orangered;
  color: white;
}

input {
  float: right;
  width: 30%;
  text-align: left;
  margin-right: 40%;
}

.grill {
  width: 35%;
  float: right;
  margin-right: 5%;
  margin-top: 5%;
}

.Slogan {
  color: white;

  width: 50%;
  margin-top: 20%;
  margin-bottom: 15%;
  font-size: 250%;

  text-align: center;
}

.Om_Oss {
  color: white;
  width: 40%;
  font-size: 200%;
  text-align: center;
  margin-top: 5%;
}

.Produkter {
  color: white;
  width: 40%;
  font-size: 200%;
  text-align: center;
  margin-top: 20%;
}
